extends layout

block content
  h1= title
  p Welcome to #{title}
  p IP Adress : #{ip}
  p Host : #{host}
  p Path : #{path}
  p Method : #{method}
  h2 Headers
  p Host : #{headers.hhost}
  p Content-Type : #{headers.hcontent}
  p User-Agent : #{headers.huser}
  p Referer : #{headers.hreferer}
  p Date : #{headers.hdate}